.guide {
  width: 750px;
  height: 200px;

  /* display: none; */
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0 solid #000;
  opacity: 0.75;
  filter: alpha(opacity=75);
  z-index: 9;
  /* 过渡效果 */
  transition: all 0.25s;
  /* 边缘闪动问题fix */
  box-shadow: 0 0 0 100px #000;
  overflow: hidden;

  &::before {
    content: '';
    /* width: 100%;
    height: 100%; */
    border-radius: 50%;
    border: 400px solid #000;
    position: absolute;
    left: -400px;
    top: -400px;
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.75);
  }
  span {
    display: inline-block;
    background-color: var(--ifm-color-primary);
    border-color: var(--ifm-color-primary);
    color: #fff;
    margin: 16px;
    cursor: pointer;
    padding: 0.3em 1em;
    border-radius: 1em;
    text-align: center;
  }
  & span:first-child {
    display: block;
    width: 75px;
  }
}
